body{
    margin: 0;
}

.home-container{
display: flex;
background-color: #FFE5CA;
height: 100vh;
}

.game-title{
    margin-left: 90px;
   font-size: 50px;
   margin-bottom: 1em;
   

}

.game-section{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

}

.rightorwrong{
    display: block;
   justify-content: space-between;
    
    
}

.layout-container {
    display: flex;
}

.left{
    display: flex;
}

.middle {
    display: block;
}

.right{
    display: flex;
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
    padding: 50px;
}