body{
    margin: 0;
}

.home-container{
display: flex;
/* background-color: #FFE5CA; */
/* background-image: url("/public/images/strawberry2.jpeg"); */
/* height: 100vh; */

}

.game-title{
    margin-left: 80px;
    font-size: 50px;
    margin-bottom: 1em;
    margin-top: 2em;
   

}

.game-section{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

}

.rightorwrong{
    display: block;
   justify-content: space-between;
    
    
}

.layout-container {
    display: flex;
    margin-top: 2em;
}

.left{
    display: block;
    background-color: #eaeef581;
    width: 535px;
    height: 500px;
    margin-right: 0.5em;
    border-radius: 3em;
}

.right {
    display: block;
    margin-left: 0.5em;
    
}



.answer {
    position: relative;
    top: 180px;
    left: 82px;
    font-size: 20px;
    height: 20px;

}

